name: CI - Maven Tests & SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Compile and run tests
        run: ./mvnw clean package

      - name: Generate JaCoCo report
        run: ./mvnw jacoco:report

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        with:
          args: >
            -Dsonar.projectKey=Valgal22_Rest-GarAItu
            -Dsonar.organization=garaitu
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.java.binaries=target/classes
            -Dsonar.coverage.exclusions=*/src/test/*
